In [4]:
#1 Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60)

tup1 = (10,20,30)
tup2 = (40,50,60)

In [5]:
#a) Concatenate the two tuples and store it in "t_combine"
t_combine = tup1 + tup2
t_combine

(10, 20, 30, 40, 50, 60)

In [11]:
#b) Repeat the elements of "t_combine" 3 times
t_combine
n=3
t_combine_3 = ((t_combine,)* n)
t_combine_3

((10, 20, 30, 40, 50, 60), (10, 20, 30, 40, 50, 60), (10, 20, 30, 40, 50, 60))

In [19]:
#c) Access the third element from "t_combine"
t_combine[2]

30

In [26]:
#d) Access the first 3 elements from "t_combine"
t_combine
t_combine[0:3]

(10, 20, 30)

In [29]:
#e) Access the lastt 3 elements from "t_combine"
t_combine
t_combine[2:5]

(30, 40, 50)

In [50]:
#2 Create a list my_list with these elements:

#a) first element is a tuple with values 1,2,3
#b) second element is a tuple with values "a","b","c"
#c) third element is a tuple with values True, False
my_list = [(1,2,3), ("a","b","c"), (True,False)]
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [51]:
#3 Append a new tuple - (1,'a',True) to 'my_list'
my_list.append(tuple((1,'a',True)))
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [55]:
#a) Append a new list - ["sparta",123] to my_list
my_list.append(list(["sparta",123]))
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [76]:
#4 Create a dictionary 'fruit' where:
#a) The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
#b) The second key is ‘Cost’ and the values are (85,54,120,70) 
#c) Extract all the keys from ‘fruit’
#d) Extract all the values from ‘fruit’

list1 = ["Apple","Banana","Mango","Guava"]
list1
fruit = {'Fruit': (list1) , 'Cost': (85,54,120,70)}
fruit

{'Fruit': ['Apple', 'Banana', 'Mango', 'Guava'], 'Cost': (85, 54, 120, 70)}

In [79]:
def get_keys(fruit):
   return fruit.keys()
print(get_keys(fruit))

dict_keys(['Fruit', 'Cost'])

In [80]:
def get_values(fruit):
   return fruit.values()
print(get_values(fruit))

dict_values([['Apple', 'Banana', 'Mango', 'Guava'], (85, 54, 120, 70)])

In [83]:
#5 Create a set named 'my_set' with values (1,1,"a","a",True,True) and print the result
my_set = (1,1,"a","a",True,True)
print(my_set)

(1, 1, 'a', 'a', True, True)