In [ ]:
#Topic 2:Data types: there are 2 categories of data types in python
#Mutable  Data Type: in which information stored can be changed/altered, once declared
#ex: lists,dictionary,sets

#Immutable Data Type: in which information stored cannot be changed/altered, once declared
#ex: tuples,strings

In [1]:
#immutable data type:
x='PYTHON'
x

'PYTHON'

In [2]:
type(x)

str

In [ ]:
#Accessing & extracting the elements in a collection
#indexing-----> helps to extract out the individual or particular element from collection
#slicing--------> helps to extract out the sequence or range of elements from collection

#  P  Y  T  H  O  N
#  0  1  2  3  4  5 --------> regular indexes

In [3]:
#ex: indexing
x[2]

'T'

In [4]:
x[0]

'P'

In [5]:
x[1]

'Y'

In [6]:
x[6]

IndexError: string index out of range

In [7]:
##  P  Y  T  H  O  N
#   0  1  2  3  4  5 

#ex: slicing: syntax: var_name[start index: end index+1]
x[2:4] # 2,3

'TH'

In [8]:
x[1:5] # 1,2,3,4

'YTHO'

In [9]:
#check mutability
x[0]='C'

TypeError: 'str' object does not support item assignment

In [10]:
x

'PYTHON'

In [11]:
x[0]='C'

TypeError: 'str' object does not support item assignment

In [13]:
#tuple: set of heterogeneous(different) elements
#syntax: var_name=(e1,e2,e3,.........en)
tup=(10,20,'Mary', 'Python',85.67,22.9)

In [14]:
type(tup)

tuple

In [15]:
#indexing & slicing on tuples
tup[4]

85.67

In [16]:
tup[2:5] #2,3,4

('Mary', 'Python', 85.67)

In [17]:
#check the mutability
tup[0]=100

TypeError: 'tuple' object does not support item assignment

In [19]:
#Mutable Data Types: 
#List: set of heterogeneous (different) elements
#syntax: var_name=[e1,e2,e3,.........en]
my_list=[10,20,'Mary', 'Python',85.67,22.9]
my_list

[10, 20, 'Mary', 'Python', 85.67, 22.9]

In [20]:
type(my_list)

list

In [21]:
#indexing and slicing 
my_list[4]

85.67

In [22]:
my_list[3]

'Python'

In [23]:
my_list[0:4]

[10, 20, 'Mary', 'Python']

In [24]:
my_list[0]=100

In [25]:
my_list

[100, 20, 'Mary', 'Python', 85.67, 22.9]

In [44]:
#ADDING ELEMENTS IN TO THE LIST
my_list.append(777)
my_list[7]

#ADDING NEW ELEMENT
my_list.append('New Element')

In [30]:
my_list

[100, 20, 'Mary', 'Python', 85.67, 22.9, 777, 777, 777]

In [34]:
# append at a specified index
my_list.insert(2,73)
my_list

[100, 20, 73, 73, 'Mary', 'Python', 85.67, 22.9, 777, 777, 777]

In [33]:
#POP FUNCTION
my_list.pop(3)

73

In [35]:
my_list

[100, 20, 73, 73, 'Mary', 'Python', 85.67, 22.9, 777, 777, 777]

In [37]:
my_list.pop(2)

73

In [38]:
my_list

[100, 20, 73, 'Mary', 'Python', 85.67, 22.9, 777, 777, 777]

In [40]:
my_list.pop(7)

777

In [41]:
my_list

[100, 20, 73, 'Mary', 'Python', 85.67, 22.9, 777, 777]

In [42]:
my_list.pop(7)

777

In [43]:
my_list

[100, 20, 73, 'Mary', 'Python', 85.67, 22.9, 777]

In [ ]:
#to remove the elements
#syntax: my_list.remove(element to be removed)

In [45]:
my_list

[100, 20, 73, 'Mary', 'Python', 85.67, 22.9, 777, 777, 'New Element']

In [46]:
my_list.remove('New Element')

In [47]:
my_list

[100, 20, 73, 'Mary', 'Python', 85.67, 22.9, 777, 777]

In [48]:
my_list.pop(7)

777

In [49]:
my_list

[100, 20, 73, 'Mary', 'Python', 85.67, 22.9, 777]

In [ ]:
#summary:
#remove element-> pop ---> index-----> remove-----> value
#adding element-> insert--> index------> value

In [ ]:
#Dictionary : helps to store the elements in key:value
#user defined indexes -----> key
#syntax: var_name={k1:v1,k2:v2,... kn:vn}
#key: can be any data format------> int,float,string
#value: can be any data format--------> int, float, string

In [51]:
#ex:
age={'james':25,'mary':30,'john':80,'peter':50}
age

{'james': 25, 'mary': 30, 'john': 80, 'peter': 50}

In [52]:
type(age)

dict

In [53]:
age[0]

KeyError: 0

In [54]:
age['mary']

30

In [55]:
age['john']

80

In [57]:
age={85:44.67,'james':25,'mary':30,'john':80,'peter':50}

In [58]:
age

{85: 44.67, 'james': 25, 'mary': 30, 'john': 80, 'peter': 50}

In [61]:
region={1:'INDIA',2:'USA',3:'CANADA',4:'AUSTRALIA'}

In [62]:
region

{1: 'INDIA', 2: 'USA', 3: 'CANADA', 4: 'AUSTRALIA'}

In [63]:
region[2]

'USA'

In [64]:
#add key value pair to dictionary
region[5]='ISRAEL'

In [65]:
region

{1: 'INDIA', 2: 'USA', 3: 'CANADA', 4: 'AUSTRALIA', 5: 'ISRAEL'}

In [69]:
#removing the elements
del region[5]

In [70]:
region

{1: 'INDIA', 2: 'USA', 3: 'CANADA', 4: 'AUSTRALIA'}

In [ ]:
#Sets: It is a list of unordered, unindexed elements
#It helps to remove all the duplicate elements from the collection
#syntax: var_name={e1,e2,e3.....en}

In [73]:
#EX:
set_demo={1,2,3,4,5,682,3,5,6,1,3,5,7,54,4,444,878,2134,89}
set_demo

{1, 2, 3, 4, 5, 6, 7, 54, 89, 444, 682, 878, 2134}

In [75]:
list1={1,2,3,4,5,682,3,5,6,1,3,5,7,54,4,444,878,2134,89}
set(list1)

{1, 2, 3, 4, 5, 6, 7, 54, 89, 444, 682, 878, 2134}