In [ ]:
# 1) Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True,8.10
# a) a. Now in the ‘myList’, append these values: 30,40 
# b) After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [36]:
myList = [10,20,30,'apple',True,8.10]
myList

[10, 20, 30, 'apple', True, 8.1]

In [38]:
myList.append(30)
myList.append(40)
myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [39]:
reversedList = myList[::-1]
reversedList

[40, 30, 8.1, True, 'apple', 30, 20, 10]

In [ ]:
# 2) Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.
# a) After that eliminate the ‘text’ value from the dictonary.
# b) Add ‘features’ in the dictonary.
# c) Fetch the ‘data’ element from the dictonary and display it in the output.

In [16]:
dict1 = { 'data':1 , 'information':2, 'text' : 3}
dict1

{'data': 1, 'information': 2, 'text': 3}

In [17]:
del dict1["text"]

In [18]:
dict1

{'data': 1, 'information': 2}

In [21]:
dict1['features']=3

In [22]:
dict1

{'data': 1, 'information': 2, 'features': 3}

In [25]:
dict1.get('data')

1

In [ ]:
# 3) Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple

In [37]:
my_tuple = tuple([1,2,3,'apple','mango'])
my_tuple

(1, 2, 3, 'apple', 'mango')

In [ ]:
# 4) Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50
# a) Find the minimum value from the numeric_tuple.
# b) Concatenate my_tuple with numeric_tuple and store the result in r1.
# c) Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli

In [38]:
numeric_tuple = tuple([10,20,30,40,50])
numeric_tuple

(10, 20, 30, 40, 50)

In [33]:
min(numeric_tuple)

10

In [41]:
r1 = my_tuple + numeric_tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [42]:
newdupli = my_tuple * 2

In [43]:
newdupli

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [ ]:
# 5) Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to contains{2,3,7,6,1}
# a) Perform the below operation:

# a) set1 union set2
# b) set1 intersection set2 
# c) set1 difference set2

In [1]:
set1 = {1,2,3,4,5}

In [3]:
set1

{1, 2, 3, 4, 5}

In [6]:
set2 = {2,3,7,6,1}

In [7]:
set2

{1, 2, 3, 6, 7}

In [8]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
set1.intersection(set2)

{1, 2, 3}

In [10]:
set1.difference(set2)

{4, 5}